h1{
    box-sizing: border-box;
    padding: 10px;
    margin: 30px;
    font-family: 'Cairo Play';
    color: black;
    background-color: #FCF5C7;
    text-align: center;
    border-radius: 10 px;
    border: 20px solid black;
    border-radius: 20px;
}

.resultado{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

  